{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load social_share %}
{% block content %}


<link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}" />
<script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML"></script>


<style>
    #summary {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    #avatar {
        float: left;
        display: flex;
        align-items: center;
        position: relative !important;
        width: 90px !important;
        height: 90px !important;
    }
    #avatar-img {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        object-fit: cover;
        width: 90px !important;
        height: 90px !important;
    }

    #publish {
        margin-left: 10px;
    }

    .comment {
        display: inline-flex;
        margin: 10px 0;
    }

    .comment-avatar {
        display: inline-block;
    }
    .comment-avatar-img {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        object-fit: cover;
        width: 70px !important;
        height: 70px !important;
    }    

    .comment-content {
        display: inline-block;
        padding-left: 10px;
    }

    #blog {
        padding: 0 10%;
        margin-bottom: 20px;
    }

    #blog_title {
        margin: 20px 0;
    }

    #blog_tag {
        line-height: 2;
    }

    .tag-span {
        color:#000; 
        padding: 5px 15px; 
        border-radius: 15px;
    }

    #blog_summary {
        padding: 10px 10%;
        font-style: italic;
        color: #888;
    }

    #blog_body {
        padding: 0;
    }

    .follow-button {
        border: 1px solid #f97;
        margin-left: 10px;
        padding: 2px 10px;
    }

    blockquote {
        padding-left: 20px;
        padding-right: 8px;
        border-width: 0;
        border-left-width: 5px;
        font-style: italic;
        font-family: Georgia, Times, "Times New Roman", serif;
        border-style: solid;
        border-color: #ccc;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
    }

    #like_id:hover {
        color:#f97;
    }

    .facebook-this {
        display: inline-flex;
        padding: 2px 10px; 
        border: 1px solid #f97;
        border-radius: 3px;
    }

    .tweet-this {
        display: inline-flex;
        padding: 2px 10px; 
        border: 1px solid #f97;
        border-radius: 3px;
    }

    .linkedin-this {
        display: inline-flex;
        padding: 2px 10px; 
        border: 1px solid #f97;
        border-radius: 3px;
    }


    @media screen and (max-width: 992px) {
        #blog {
            padding: 0 20px;
        }
    }

</style>


<div id="blog" class='container-fluid'>
    <div id="blog_title">
        <h1>{{ blog.title }}</h1>
    </div>

    <div id="summary">
        <div id="avatar">
            <a href="/author/{{ blog.author.id }}">
            <img id="avatar-img" src="{{ blog.author.avatar.url }}"/>
            </a>
        </div>
        <div id="publish" class="container">
            <p style="display: inline-flex; align-items: center;">
                <a href="/author/{{ blog.author.id }}">
                    <strong style="font-size:18px;">{{ blog.author.display_name }}</strong>
                </a>

                {% if user.is_authenticated %}
                    {% if blog.author.id in user.get_myfollowing_ids %}
                        <form method="POST" style="display: inline-flex; margin:0;">
                        {% csrf_token %}
                        <button class='btn btn-light follow-button' type="submit" name="delete_follow" style="background-color:bisque;">Unfollow</button>
                        </form>
                    {% else %}
                        <form method="POST" style="display: inline-flex; margin:0;">
                        {% csrf_token %}
                        <button class='btn btn-light follow-button' type="submit" name="add_follow">Follow</button>
                        </form>
                    {% endif %}
                {% else %}
                    <a href="/accounts/login/?next={{request.path}}" class='btn btn-light follow-button'>Follow</a>
                {% endif %}
            </p> 
            <p>
                <i class='fa fa-clock-o'></i> 
                {% if blog.is_draft %}
                    created at {{ blog.create_time | date:'M d, Y H:i' }}
                {% else %}
                    {{ blog.publish_time | date:'M d, Y H:i' }} 
                {% endif %}
                <i class='fa fa-folder-open' style="margin-left: 10px;"></i> <a href="/blog/?category={{blog.category.name}}">{{blog.category.name}} </a>
            </p>
        </div>
    </div>

    <div id="blog_tag" class="text-center">
        {% for tag in blog.tag.all %}
            <a href="/blog/?search={{tag.name}}"><span class='tag-span' style="background-color: {{tag.bg_color}};">{{tag.name}}</span></a>
        {% endfor %}
    </div>
    
    <div id="blog_summary">
        <p>{{ blog.summary }}</p>
    </div>

    <div id="blog_body" class="col-sm-12">
        {{ blog.body | safe }}
    </div>

</div>

{% if not blog.is_draft %}

    <div class="container text-center" style="width:100%;">
        <strong>Share this blog to: </strong> 
        <br>
        {% post_to_facebook object_or_url "Facebook" %}
        {% post_to_twitter "Check it out!" object_or_url "Twitter" %}
        {% post_to_linkedin blog.title object_or_url "LinkedIn" %}
    </div>


    <h4 id="blog_statistics" style="margin: 20px 20px; padding: 5px 0; border-bottom: 1px solid #aaa; width:100%; ">
        <i class="fa fa-eye"></i> {{blog.num_visit}} views,
        <form action="{{request.path}}#blog_statistics" method='POST' style="display: inline-block;">
            {% csrf_token %}
            <button type='submit' name='like_blog' id="like_id" style="margin-left:10px; border:0;background-color: #fff; padding:0;">
            {% if liked %}
                <i class="fa fa-thumbs-o-up" style="color:#f97;"></i>
            {% else %}
                <i class="fa fa-thumbs-o-up" ></i>
            {% endif %}
            </button>
        </form>
        {{blog.num_like}} likes, 
        <i class="fa fa-commenting-o" style="margin-left:10px;"></i> {{ blog.get_comment_count }} comments
    </h4>

    <div id="add_comment" style="width:100%; margin: 20px 20px; margin-top: 0;">
        {% if user.is_authenticated %}
            <form action="{{request.path}}#blog_statistics" method="POST" style="width: 100%; padding: 10px 8%;">
                {% csrf_token %}
                <textarea class="form-control" name="comment" placeholder="Enter your comment here" required></textarea>
                <button class="btn btn-primary float-right" type="submit" style="margin: 10px 0;" name="publish_comment">Publish Comment</button>
            </form>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}?next={{request.path}}">Login to comment</a>
        {% endif %}
    </div>



    <div class="container-fluid" id="comment_list">
        {% for comment in blog.get_comments %}
        <div class="container comment" id="comment_{{comment.id}}">
            <div class="comment-avatar">
                <a href="/author/{{ comment.commenter.id }}">
                <img class="comment-avatar-img" src="{{ comment.commenter.avatar.url }}"/>
                </a>
            </div>        
            <div class="comment-content">
                <p style="color: #555; margin: 0;">
                    <a href="/author/{{ comment.commenter.id }}">{{ comment.commenter.display_name }}</a>
                    <i class='fa fa-clock-o'></i> 
                    {{ comment.create_time | date:'Y-m-d H:i' }}: 
                </p>
                <p>
                    {{ comment.content }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

<script>
    $(document).ready(function () {
        $('#navbar_blog').addClass('active');
    });
</script>
{% endblock %}
