{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .card {
        width:140px; 
        height:auto; 
        display: inline-block; 
        margin: 10px 20px;
    }

    .card-img-top {
        width: 138px;
        height: 138px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        object-fit: cover;
    }

    .card-body {
        padding: 5px 0;
    }

    .card-title {
        margin: 0px;
    }

    .card-text {
        margin: 0px;
    }

</style>

<div class='container-fluid'>

    <div class="card">
        <a href="{% url 'signup' %}">  
            <div class="text-center">  
                <i class="fa fa-plus-circle" style="font-size: 138px;"></i>
            </div>
        <div class="card-body text-center">
            <br>
            <h5 class="card-title" >Join Us?</h5>
            <br>
        </div>
        </a>
    </div>


    {% for author in authors %}
    <div class="card">
        <a href="/author/{{ author.id }}">    
            <img class="card-img-top" src="{{ author.avatar.url }}" alt="Card image" >
        </a>
        <div class="card-body text-center">
            <a href="/author/{{ author.id }}">
                <h5 class="card-title" >{{ author.display_name }}</h5>
            </a>
            <p class="card-text" >Has {{ author.get_blog_count }} posts, {{ author.get_follower_count }} followers.</p>
        </div>
    </div>
    
    {% endfor %}


</div>
    

<script>
    $(document).ready(function () {
        $('#navbar_author').addClass('active');
    });
</script>

{% endblock %}
