{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .card {
        width:150px; 
        height:auto; 
        display: inline-flex; 
        margin: 10px 20px;
    }

    .card-img-top {
        width:100%;

    }

    .card-body {
        padding: 5px 0;
    }

    .card-title {
        margin: 0px;
    }

    .card-text {
        margin: 0px;
    }

    #post_list_table > tbody > tr > td {
        padding: 5px 10px; 
    }

    .follow-button {
        border: 1px solid #f97;
        margin-left: 10px;
        padding: 2px 10px;
    }

    .author-img {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        object-fit: cover;
        width: 70px !important;
        height: 70px !important;
    }

    .author {
        width: auto;
        height: auto;
        display: inline-block;
        margin: 5px 5px;
    }


</style>

<div class='row container-fluid'>

    <div class="col-sm-4">
        <img src="{{ author.avatar.url }}" width=100% />
    </div>
    <div class="col-sm-8">
        <h1 style="display: inline-flex; align-items: center; margin-bottom: 20px;">{{ author.display_name }} 
            {% if author.is_author and author.is_verified %}
                {% if user.is_authenticated %}
                    {% if author.id in user.get_myfollowing_ids %}
                        <form method='POST' style='margin:10px; display: inline-flex;'>
                            {% csrf_token %}
                            <button class='btn btn-light follow-button' type='submit' name='delete_follow' style="background-color:bisque;">Unfollow</button>
                        </form>
                    {% else %}
                        <form method="POST" style='margin-left: 10px; display: inline-flex;'>
                            {% csrf_token %}
                            <button class='btn btn-light follow-button' type="submit" name="add_follow">Follow</button>
                        </form>
                    {% endif %}
                {% else %}
                    <a href="/accounts/login/?next={{request.path}}" class='btn btn-light follow-button'>Follow</a>
                {% endif %}
            {% endif %}
        </h1>
        {% if author.setting_show_email %}
            <h5>Email: {{ author.email }}</h5>
        {% endif %}
        {% if author.setting_show_fullname %}
            <h5>Full name: {{ author.first_name }} {{ author.last_name }}</h5>
        {% endif %}
        <br>

        <h5 style="margin-bottom: 10px; border-bottom: 1px solid #ccc;">About me:</h5>
        <p>{{ author.bio }}</p>
        <br>

        <h5 style="margin-bottom: 10px; border-bottom: 1px solid #ccc;">Published blogs:</h5>
        <table id="post_list_table">
        {% for blog in author.get_myposts %}
            <tr>
                <td><a href="/blog/{{blog.id}}/">{{ blog.title }}</a></td>
                <td>Published at {{ blog.publish_time | date:'Y-m-d H:i' }}</td>
            </tr>
        {% endfor %}
        </table>
        <br>

        <h5 style="margin-bottom: 10px; border-bottom: 1px solid #ccc;">Followers:</h5>
        {% for person in author.get_myfollowers %}
            <div class="author text-center">
                <a href="/author/{{ person.id }}">
                <img class="author-img" src="{{ person.avatar.url }}"/>
                </a>
            </div>
        {% endfor %}
        <br>

    </div>

</div>
    

<script>
    $(document).ready(function () {
        $('#navbar_author').addClass('active');
    });
</script>

{% endblock %}
