{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="container-fluid col-lg-6 col-md-8 col-sm-9 col-xs-12 shadow-lg p-3 mb-5 bg-white rounded text-center">

    <h3>Password reset</h3>
    <p>
        Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.email.errors.as_text }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}

    <form method="post" style="margin-bottom:20px;">
        {% csrf_token %}
                
        <div class="form-group">
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}

        {% render_field form.email type="email" class="form-control" placeholder="Email address" %}
    
        {% if form.email.help_text %}
            <small class="form-text text-muted">{{ form.email.help_text }}</small>
        {% endif %}
        </div>
        
        <button class="btn btn-primary" type="submit" value="reset_password" style="width:60%;">Reset password</button>
    </form>

    <br>

    <p>Already have login and password? <strong><a href="{% url 'login' %}">Sign in</a></strong></p>

</div>

{% endblock %}